* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
  min-width: 0;
}

window#waybar {
  border-radius: 12px;
  background-color: #171b20;
  margin-bottom: 10px;
}

#workspaces {
  margin-left: 5px;
}

#workspaces button {
  padding-left: 3px;
}

#tray {
  margin-right: 6px;
}

#workspaces button {
  color: #86aaec;
  background-color: transparent;
  border-color: transparent;
}

#workspaces button.hover {
 background-color: transparent;
}

#workspaces button.active {
 color: #c296eb;
 background-color: transparent;
}

#custom-player {
  margin-left: 16px;
}

#bluetooth {
  margin-right: 8px;
  color: #dee1e6;
}

#memory {
  margin-right: 12px;
  color: #dee1e6;
}

#network {
  margin-right: 13px;
}

#custom-updates {
  margin-right: 12px;
  color: #dee1e6;
}

#pulseaudio {
  margin-right: 12px;
  color: #dee1e6;
}

#backlight {
  margin-right: 12px;
  color: #dee1e6;
}

#battery {
  margin-right: 12px;
  color: #dee1e6;
  background: transparent;
}

#battery.critical:not(.charging) {
  color: #dee1e6;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #e26c7c;
  }
}

#clock {
  color: #dee1e6;
  margin-right: 12px;
}

#custom-notification {
  margin-right: 12px;
}

#language {
    margin-right: 12px;
}

#custom-power {
  font-size: 20px;
  margin-right: 22px;
  color: #e26c7c;
  background: transparent;
}
